* {
    box-sizing: 0;
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    position:relative;
    flex-direction: column;
    width: 100%;
    height: 640px;
    min-width: 320px;
    justify-content: flex-start;
    align-items: center;
    background: rgb(2,0,36);
    background: linear-gradient(208.83deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 46%, rgba(0,212,255,1) 100%);
    
}
    h1  {
        
        justify-items: center;
        align-items:center;
        font-family: 'Open Sans', sans-serif;
        font-size:3rem;
        line-height:  2.6rem;
        color: #c6E0f4;
     
       
        
}

h2 {
    display: flex;
        justify-items: center;
        font-family: 'Open Sans', sans-serif;
        font-size:3rem;
        line-height:  2.6rem;
        color: #c6E0f4;;

}
h3 {
    font-family: 'Open Sans', sans-serif ;
    font-size: 2rem;
    line-height:  2rem;
    color: #0060fc;
    text-align: center;
}
nav {
    width:inherit;
    height: inherit;
    
}
ul  {
    position: inherit;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
    list-style: none;
    margin: 0 auto;
}
li {
    font-family: inherit;
    font-size: 1,6;
    padding-top: 2rem;
   
   

}
p {
    font-family: 'Open Sans', sans-serif ;
    line-height: 1 rem;
    text-align: justify;
    color: #0240ea;
}
a {
    color:#c6E0f4;
    text-decoration: none;
}
figure {
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    border: 0 auto;
}
img {
    position: relative;
    
    
}
.header_icon_up {
    padding-top: 2rem;
}
.header_img_container {
    width:inherit;
    height: 150px;
    
}
.header_icon_up_img {
    position: fixed;
}
.main_section_hero {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 640px;
    min-width: 320px;
    justify-content: flex-start;
    align-items: center;
    }
.main_img {
    width: inherit;
    height: inherit;
    background-color: #0240ea;
     background-position: center;
     background-attachment: fixed;
     background-size: cover;
    background-repeat: no-repeat;

    
}

.main_text {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
}

.main_text_sol {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    padding-top: 10rem;
    color:#c6E0f4;;
    position: relative;
    
}
.box {
	background: linear-gradient(to right, rgb(0, 68, 255), rgb(0, 255, 234));
	color: white;
	--width: 250px;
	--height: calc(var(--width) / 3);
	width: var(--width);
	height: var(--height);
	text-align: center;
	line-height: var(--height);
	font-size: calc(var(--height) / 2.5);
	font-family: sans-serif;
	letter-spacing: 0.2em;
	border: 1px solid darkgoldenrod;
	border-radius: 2em;
	transform: perspective(500px) rotateY(-15deg);
	text-shadow: 6px 3px 2px rgba(0, 0, 0, 0.2);
	box-shadow: 2px 0 0 5px rgba(0, 0, 0, 0.2);
	transition: 0.5s;
	position: relative;
	overflow: hidden;
    padding-left: 1rem;
}

.box:hover {
	transform: perspective(500px) rotateY(15deg);
	text-shadow: -6px 3px 2px rgba(0, 0, 0, 0.2);
	box-shadow: -2px 0 0 5px rgba(0, 0, 0, 0.2);
}

.box::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: linear-gradient(to right, transparent, white, transparent);
	left: -100%;
	transition: 0.5s;
}

.box:hover::before {
	left: 100%;
}

.main_container_box {
    width:inherit;
    height: 210px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: baseline;
}
section {
    display: flex;
    position:relative;
    flex-direction: column;
    width: 100%;
    height: 100%;
    min-width: 320px;
    justify-content: flex-start;
    align-items: center;
}
.tarjeta {
    
    width:inherit;
    height:inherit;
}
.tarjeta_fig {
    width:100%;
    height: inherit;
}
.service_title {
    text-align: center;
    font-size: xx-large;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    line-height:  2 rem;
    color: #0060fc;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.accordion {
    background-color: #0060fc;
    color: #c6E0f4;
    cursor: pointer;
    padding: 15px;
    width: 100%;
    text-align: left;
    border: solid 1px black;
    outline: none;
    transition: 0.4s;
    padding-top:1rem;
}
.active, .accordion:hover {
    background-color: #0060fc;
}
.panel {
    padding: 0 15px;
    background-color: #02b4ea;
    display: none;
    overflow: auto;
}
.valores {
    width: inherit;
    height: inherit;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.valores_tarjeta1 {
    padding-top: 3rem;
    width:inherit;
    height: 213px;
    
  
    
}
.valores_tarjeta2 {
    padding-top: 3rem;
    width:inherit;
    height: 213px;
    
    
}

.valores_tarjeta3 {
    padding-top: 3rem;
    width:inherit;
    height: 213px;
    
    
}







.valores_fig {
    height: 100%;
}
.valores_title {
    color: black;
}
.valores_Content {
    padding: 1rem 10%;
    color: black;
}
.contacto {
    width: 100%;
    height:610px;
    min-width: 320px;
    margin:auto;
}
.form {
    padding-top: 9rem;
    width:100%;
}
.location {
    width: 100%;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
}
.location_title {
    text-align: center;
    color: #0060fc;
    padding-top: 10px;
    
}
.location_text {
    padding-top: 1rem;
    text-align: center;

}
.location_text_color {
    color: black;
    text-align: center;
}
